h2.title1{
    text-align: center;
    font-size: 175%;
    font-family: 'Sarabun', sans-serif;
}

.form-group{
    height: 40px;
    width: 60%;
    font-family: 'Sarabun', sans-serif;
    font-size: 110%;

}